@font-face {
    font-family: 'nasalization';
    src: local("nasalization-rg"),
    url('../Fonts/nasalization-rg.ttf') format("truetype");
}


.container {  
    display: grid;
    // grid-template-columns: 1.8fr 0.1fr 1.3fr;
    grid-template-columns: 1.8fr 0.1fr 1.0fr;
    grid-template-rows: 0.4fr 2.5fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "photo photo register"
      "footer footer footer";
      position:absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        height:100%;
        width:100%;
    background-color: black;
  }
  
  .header { 
    grid-area: header; 
    background-color: black;
    color:white;
    font-size: 20px;
    font-family: 'nasalization';
    text-align: center;
    }
  
  .footer { grid-area: footer; 
    background-color: black;}
  
  .register {  
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.9fr 2.5fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "col1 button col2"
      "col1 gif col2"
      ". . .";
    grid-area: register;
    background-color: black;
  }
  
  .gif { 
    grid-area: gif; 
    background-image: url(../img/asgu.gif);  
    // background-image: url(../img/rocket-space.gif);  
    // background-image: url(../img/08uakhF.gif);  
    background-size: cover;
    // background-size: 1000px;
    border: solid 5px #f6f6f8;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 500px;
  }
  
  .button {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 1fr 0.8fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "topgallery nasaPod  alert2"
      "register-b login-b alert"
      "alert3 alert3 alert3";
    grid-area: button;
  }
  
  .register-b { 
    grid-area: register-b; 
    background-color: green;
    color: white;
    text-align: center;
    border-bottom-left-radius: 10px;
    width: 300px;

    button {
        background-color:transparent;
        color: white;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-family: 'nasalization';
        text-align: center;

        border: none;
        cursor: pointer;

        &:hover {
            color: black;
            border: none;
        }
        &:focus{
            outline:none;
        }
    }
  }

  .register-b2 { 
    grid-area: register-b; 
    background-color: green;
    color: white;
    text-align: center;
    border-bottom-left-radius: 10px;
    width: 300px;

    button {
        background-color:transparent;
        color: white;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-family: 'nasalization';
        text-align: center;

        border: none;
        cursor: pointer;

        &:hover {
            color: black;
            border: none;
        }
        &:focus{
            outline:none;
        }
    }
  }
  
  .login-b { 
    grid-area: login-b; 
    // background-color: green;
    background-color: red;
    color: white;
    text-align: center;
    
        button {
            background-color:transparent;
            color: rgb(250, 249, 249);
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            font-family: 'nasalization';
            text-align: center;

            border: none;
            cursor: pointer;

            &:hover {
                color: rgb(5, 5, 5);
                border: none;
            }
            &:focus{
                outline:none;
            }
        }
    }

    .login-b2 { grid-area: login-b; 
      background-color: red;
      color: white;
      text-align: center;
      
          button {
              background-color:transparent;
              color: rgb(250, 249, 249);
              height: 100%;
              width: 100%;
              align-items: center;
              justify-content: center;
              font-size: 25px;
              font-family: 'nasalization';
              text-align: center;
  
              border: none;
              cursor: pointer;
  
              &:hover {
                  color: rgb(5, 5, 5);
                  border: none;
              }
              &:focus{
                  outline:none;
              }
          }
      }
  
  .alert {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
    grid-area: alert;
    background-color: rgb(6, 6, 6);
    .c1{
        background-color:red;
        animation: animationFirst 2s infinite;


        button {
        background-color:transparent;
        color: white;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-family: 'nasalization';
        text-align: center;

        border: none;
        cursor: pointer;

        &:hover {
            color: black;
            border: none;
        }
        @keyframes animationFirst{
          0% {
            background-color:rgb(248, 22, 6);
          }
          100% {
            background-color: rgb(6, 7, 6);
          }
        }
    }
    }
    .c2{
        background-color:blue;
        // animation: animation 2s infinite;

        // @keyframes animation{
        //     0% {
        //       background-color:blue;
        //     }
        //     100% {
        //       background-color: rgb(4, 242, 222);
        //     }
        //   }
    }
    .c3{
        background-color:rgb(249, 249, 251);
        animation: animationS2 2s infinite;

        @keyframes animationS2{
          0% {
            background-color:rgb(231, 248, 4);
          }
          100% {
            background-color: rgb(238, 238, 242);
          }
        }
    }
    .c4{
        background-color: transparent;
        animation: animationS 1s infinite;

        @keyframes animationS{
          0% {
            background-color:rgb(231, 248, 4);
          }
          100% {
            background-color: rgb(57, 55, 113);
          }
        }
    }
    .c5{
        background-color: rgb(143, 95, 4);
        animation: animationF0 2s infinite;
        @keyframes animationF0{
            0% {
              background-color:rgb(163, 123, 23);
            }
            100% {
              background-color: rgb(51, 50, 50);
            }
          }
    }
    .c6{
        background-color: rgb(39, 250, 6);
        animation: animationF1 1s infinite;
        @keyframes animationF1{
            0% {
              background-color:rgb(18, 224, 8);
            }
            100% {
              background-color: rgb(244, 7, 169);
            }
          }
    }
    .c7{
        background-color: rgb(250, 6, 181);
        animation: animationF2 2s infinite;
        @keyframes animationF2{
            0% {
              background-color:rgb(1, 1, 52);
            }
            100% {
              background-color: rgb(2, 2, 214);
            }
          }

    }
    .c8{
        background-color: rgb(21, 5, 113)
    }
    .c9{
        background-color: rgb(245, 144, 3);
        animation: animationFrames 2s infinite;
        border-bottom-right-radius: 10px;
        @keyframes animationFrames{
            0% {
              background-color:blueviolet;
            }
            100% {
              background-color: rgb(190, 176, 242);
            }
          }
    }
  }
  
  .nasaPod { 
    grid-area: nasaPod; 
    width: 100%;
    background-color: rgb(7, 3, 242);
    color: white;
    text-align: center;

    button {
        background-color:transparent;
        color: white;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-family: 'nasalization';
        text-align: center;

        border: none;
        cursor: pointer;

        &:hover {
            color: rgb(0, 0, 0);
            border: none;
        }
        &:focus{
            outline:none;
        }
        &:focus{
            outline:none;
        }
    }
}

.topgallery { 
  grid-area: topgallery; 
  width: 100%;
  // background-color: rgb(238, 6, 176);
  background-color: rgb(6, 238, 18);
  color: white;
  text-align: center;
  border-top-left-radius: 10px;

  button {
      background-color:transparent;
      color: white;
      height: 100%;
      width: 100%;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-family: 'nasalization';
      text-align: center;

      border: none;
      cursor: pointer;

      &:hover {
          color: rgb(0, 0, 0);
          border: none;
      }
      &:focus{
          outline:none;
      }
      &:focus{
          outline:none;
      }
  }
}
  
  .alert2 { grid-area: alert2; 
    background-color: rgb(19, 19, 19);
    border-top-right-radius: 10px;


    button {
        background-color:transparent;
        color: white;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-family: 'nasalization';
        text-align: center;

        border: none;
        cursor: pointer;

        &:hover {
            color: red;
            border: none;
        }
        &:focus{
            outline:none;
        }
    }
}
  
  .alert3 { grid-area: alert3; 
    // background-color: rgb(11, 205, 14);
    background-color: rgb(6, 6, 6);
    button {
        background-color:transparent;
        color: white;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-family: 'nasalization';
        text-align: center;

        border: none;
        cursor: pointer;

        &:hover {
            // color: black;
            border: none;
        }
        &:focus{
            outline:none;
        }
    }
}
  
  .col1 { grid-area: col1; 
    background-color: black;
}
  
  .col2 { grid-area: col2; 
    background-color: black;
}
  
  .photo { 
    position: relative;
    grid-area: photo; 
    background-image: url(../img/leftMoon.webp);
    // background-image: url(./img/BlueSunGlaring.jpg);
    // justify-content: center;
     
    // background-image: url(./img/astronaut-60582_1920.jpg);
    background-color: white;

    background-size: cover;
    background-repeat: no-repeat;
    // font-size: 60px;
    font-family: 'nasalization';
    text-align: center;
    height: 98%;

    .title{
      position: absolute;
      top: 30%;
      left:55%;
      width: 480px;
      height: 670px;

      h1{
        font-size: 70px;
        font-family: 'nasalization';
        text-align: center;
        color: white;
        justify-content: center;
      }
    }

    .buz{
      position: absolute;
      top: 62%;
      left: 44%;
      width: 800px;
      height: 150px;

      p{
        font-size: 25px;
      }
    }

    h1{
      font-size: 60px;
      font-family: 'nasalization';
      text-align: center;
      color: white;
      justify-content: center;
    }
    p{
      font-size: 15px;
      color:white;
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 10px;
    }
  }

  .photo-nasa { 
    position: relative;
    grid-area: photo; 
    background-color: transparent;
    // background-size: cover;
    // background-repeat: no-repeat;
    // font-size: 60px;
    font-family: 'nasalization';
    text-align: center;
    height: 98%;
    color:white;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 18px;

    img{
      max-width: 1200px;
      min-width: 1200px;
      max-height: 800px;
      min-height: 800px;
      border-radius: 10px;
    
       
    } 

    button{
        position: relative;
        background-color: white;
        transform: translate(-50%, -50%);
        top:-3%;
        left: 30%;
        color: black;
        font-size: 20px;
        height: 30px;
        padding-bottom: 30px;

        &:hover {
          color: red;
          border: none;
        }
        &:focus{
          outline:none;
          border: none;

        }
    }

    // p{
    //   position: relative;
    //   background-color:transparent;
    //   transform: translate(50%, 50%);
    //   border-radius: 10px;
    //   color:white;
    //   font-size: 35px;
    //   line-height: 35px;
    //   padding-left: 10px;
    //   padding-right: 10px;
    //   padding-top: 10px;
    //   padding-bottom: 10px;
    //   text-align:justify;

    //   max-width: 900px;
    //   max-height: 600px;
    //   top:20%;
    //   left: 21%;
    // }

    h2{
      position: relative;
      // background-color: white;
      transform: translate(-50%, -50%);
      top:1%;
      left: 33%;
      font-family: 'nasalization';
      // text-align: center;
      // justify-content: center;

    }
    

    .infos{
      position: absolute;
      background-color:transparent;
      border-radius: 10px;
      color:white;
      font-size: 25px;
      line-height: 35px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align:justify;

      max-width: 900px;
      max-height: 600px;
      // top:-20%;
      // left: -8%;
      top:12%;
      left: 21%;

     
    }


    // .buz{
    //   position: absolute;
    //   top: 62%;
    //   left: 44%;
    //   width: 800px;
    //   height: 150px;

    //   p{
    //     font-size: 25px;
    //   }
    // }
  }

  .Register { 
    position: relative;
    grid-area: photo; 
    background-color: rgb(5, 0, 0);
  // background-image: url(./img/BlueSunGlaring.jpg);

    // background-image: url(../img/leftMoon.webp);
    // background-image: url(../img/astronaut-60582_1920.jpg);
    // background-image: url(./img/Sky_Full_Of_Stars.jpeg);
    // background-size: cover;
    background-size: 1800px;
    background-repeat: no-repeat;
    font-family: 'nasalization';
    
    
    .formWrapper {
      position: absolute;
      top: 38%;
      left: 54%;
      transform: translate(-50%, -50%);
      // background-color: rgb(30, 1, 1);
      // background-color: transparent;
      background-image: url(../img/astronaut-60582_1920.jpg); 
      background-size: cover;

      background-repeat: no-repeat;


      border: solid 3px #f50505;
      padding: 20px 60px;
      border-radius: 10px;
      height: 600px;
      width: 350px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
  
  
  
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        top: 15%;
        left: 19%;
  
          input {
            padding: 20px;
            border: none;
            border-radius: 10px;
            width: 250px;
            border-bottom: 4px solid #f50505;
            background-color: white;
            font-size: 25px;


            &::placeholder {
              color: black;
              font-size: 25px;
              font-family: 'nasalization';

            }
            // &::focus {
            //   border: none;
            // }
          }
  
          button {
            background-color: hsl(9, 96%, 45%);
            // background-color: transparent;
            color: white;
            padding: 10px;
            font-weight: bold;
            font-size: 25px;

            border: none;
            cursor: pointer;
          }
  
          label {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #8da4f1;
            font-size: 12px;
            cursor: pointer;
    
            img {
              width: 32px;
            }
          }
        }
      p {
        color: #5d5b8d;
        font-size: 12px;
        margin-top: 10px;
      }
    }
    
  }
    

  .Login { 
    position: relative;
    grid-area: photo; 
    background-color: rgb(5, 0, 0);
    background-size: 1800px;
    background-repeat: no-repeat;
    font-family: 'nasalization';
    
    .formWrapper {
      position: absolute;
      top: 38%;
      left: 54%;
      transform: translate(-50%, -50%);
      // background-color: rgb(30, 1, 1);
      // background-color: transparent;
      background-image: url(../img/astronaut-60582_1920.jpg); 
      background-size: cover;
      background-repeat: no-repeat;

      border: solid 3px #f50505;
      padding: 20px 60px;
      border-radius: 10px;
      height: 600px;
      width: 350px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
  
      form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        top: 25%;
        left: 19%;
  
        input {
          padding: 20px;
          border: none;
          border-radius: 10px;
          width: 250px;
          border-bottom: 4px solid #f50505;
          background-color: white;
          font-size: 25px;


          &::placeholder {
            color: black;
            font-size: 25px;
            font-family: 'nasalization';

          }
          // &::focus {
          //   border: none;
          // }
        }
  
        button {
          background-color: hsl(9, 96%, 45%);
          // background-color: transparent;
          color: white;
          padding: 10px;
          font-weight: bold;
          font-size: 25px;

          border: none;
          cursor: pointer;
        }
      }

      // p {
      //   color: #5d5b8d;
      //   font-size: 12px;
      //   margin-top: 10px;
      // }
      p{
        font-size: 30px;
        color:#f50505;
        text-align: center;

      }
    }
    
  }

  .myGal { 
    position: relative;
    grid-area: photo; 
    background-color: transparent;
    // background-size: cover;
    // background-repeat: no-repeat;
    // font-size: 60px;
    font-family: 'nasalization';
    text-align: center;
    height: 98%;
    color:white;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 18px;

    img{
      max-width: 1200px;
      min-width: 1200px;
      max-height: 800px;
      min-height: 800px;
      border-radius: 10px;
    
       
    } 

    button{
        position: relative;
        background-color: white;
        transform: translate(-50%, -50%);
        top:-3%;
        left: 32%;
        color: black;
        font-size: 20px;
        height: 30px;
        padding-bottom: 30px;

        &:hover {
          color: red;
          border: none;
        }
        &:focus{
          outline:none;
          border: none;

        }
    }

    h2{
      position: relative;
      // background-color: white;
      transform: translate(-50%, -50%);
      top:1%;
      left: 33%;
      font-family: 'nasalization';
      text-align: center;
      justify-content: center;

    }
    
    .infos{
      position: absolute;
      background-color:transparent;
      border-radius: 10px;
      color:white;
      font-size: 25px;
      line-height: 35px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align:justify;

      max-width: 900px;
      max-height: 600px;
      // top:-20%;
      // left: -8%;
      top:12%;
      left: 21%;

     
    }

    .swiper-button-next{
      color: white !important;
      position: relative;
      top:-59%;
      left: 92%;
    }
    .swiper-button-prev {
      color:white !important;
      position: relative;
      top:-57%;
      left: 6%;
    }

    
  }
  
  